:root{
    --jo: white;
}

html, body, h1, p, button, ul{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(wallpprbcgrnd.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100vw 100vh;
    backdrop-filter: blur(10px);
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 0 2rem;
}

#nomeLogo{
    font-family: 'Tourney', cursive;
    font-size: 35px;
    color: darkmagenta;

    
}

#descLoja{
    display: flex;
}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

li a{

    text-align: center;
}

li{
    display: flex;
    background-color: tomato;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 3rem;
    border: 1px solid white;
    margin: 1rem 2rem;
    box-shadow: 0px 0px 27px #fbc3ff;
}


.lg-img-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}